.info2{
    display: flex;
    flex-wrap: wrap;
}
.infov{
    width: 600px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    margin-left: 5px;
    height: 85px;
}
.infoventa{
    width: 500px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    margin-left: 705px;
    height: 80px;
}
.infoproducto2{
    width: 1200px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    margin-left: 5px;
    height: 85px;
    margin-top: 10px;
}
.cont2
{
    width: 1220px;
    margin-left: 120px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
}


.listprod2 {
    width: 1050px;
    margin-left: 5px;
    margin-top: 10px;
    height: 100px;
}